<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="WMZ_Core::menu">
                    <resource id="WMZ_OutOfStockNotifications::menu" title="Out of Stock Notifications Menu"
                              sortOrder="30"/>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="WMZ_OutOfStockNotifications::confnsub"
                                      title="Out of Stock Notifications Configurations" translate="title"/>
                            <resource id="WMZ_OutOfStockNotifications::subscribers"
                                      title="Out of Stock Notifications Subscribers" translate="title"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
