<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="WMZ\OutOfStockNotifications\Api\Data\OutOfStockNotificationsDataInterface"
                type="WMZ\OutOfStockNotifications\Model\Notifications"/>
    <preference for="WMZ\OutOfStockNotifications\Api\OutOfStockNotificationsRepositoryInterface"
                type="WMZ\OutOfStockNotifications\Model\Repository\OutOfStockNotifications"/>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="wmz_notifications_listing_data_source" xsi:type="string">
                    WMZ\OutOfStockNotifications\Model\ResourceModel\Notifications\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>

    <virtualType name="WMZ\OutOfStockNotifications\Model\ResourceModel\Notifications\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">wmz_outofstock_notification_requests</argument>
            <argument name="resourceModel" xsi:type="string">
                WMZ\OutOfStockNotifications\Model\ResourceModel\Notifications
            </argument>
        </arguments>
    </virtualType>
</config>
